<h2>Welcome to LucAB ft. Joesus</h2>

<form action ="/create_user">
  <input type = "text" name = "name" placeholder="Your name here">
  <input type = "text" name = "email" placeholder="Your email address">
  <input type= "submit">       
</form>
<img src= "http://media.giphy.com/media/4TZ3WpDxi2jHq/giphy.gif" alt="bird" >